*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --color-black: #242424;
    --color-white: #e7e7e7;
    --color-gray: #d8d8d88d;
    --color-gray2: #353535;
    --color-green: #6aff76;
    --color-greenl: #006d09;
    --color-orange: #eb8500;
    --color-orangel: #b87d30;
    --color-blue: #00635c;
    --color-bluel: #55ddd5;  
}

p, h1, h2, h3, h4, a, i
{
    margin: 0;
}
body
{
    background: var(--color-black);
    color: var(--color-white);
    font-family: 'Merriweather Sans', sans-serif;
}

header{
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
}
header h3{
    margin: 0;
}
#top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-gray2);
}
#perfil
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#perfil a{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
}
#user
{
    display: flex;
    align-items: center;
    gap: 3px;
}
#user button
{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
}
#user p
{
    margin: 0;
    text-transform: uppercase;
}

nav
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
nav ul{
    display: flex;
    gap: 3px;
    margin: 0;
    padding: 0;
}
nav ul li
{
    list-style: none;
    
}
nav ul li a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1.2rem 1.6rem;
    margin: 0;
    color: var(--color-white);
    transition: all .3s;
    border-radius: 8px;
    border: 1px solid var(--color-gray2);
}
nav ul li a:hover
{
    background: var(--color-gray2);
    color: var(--color-white);
    border-radius: 8px;
}
nav ul li a i
{
    font-size: 1.5rem;
}
section
{
    margin: 35px 0;
}
#card-total
{
    display: flex;
    gap: 3px;
    width: 100%;
    
}
.cards
{
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80px;
    border-radius: 4px;
}
#card-faturamento
{
    background: linear-gradient(165deg, var(--color-orange), var(--color-orangel) );
}
#card-frotas
{
    background: linear-gradient(165deg, var(--color-greenl), var(--color-green) );
}
#card-funcionario
{
    background: linear-gradient(165deg, var(--color-blue), var(--color-bluel) );
}
