*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h4, a, i
{
    margin: 0;
}
:root
{
    --color-black: #242424;
    --color-white: #e7e7e7;
    --color-gray: #d8d8d88d;
    --color-gray2: #353535;
}
body
{
    background: var(--color-black);
    color: var(--color-white);
    font-family: 'Merriweather Sans', sans-serif;
}
main
{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
h2
{
    font-weight: 700;
    margin: 1rem 0;
}
.inputs
{
    display: flex;
    flex-direction: column;
}
.inputs label
{
    margin-top: 12px;
}
input[type="submit"]
{
    margin: 1rem 0;
    border: 1px solid var(--color-white);
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    transition: .3s;
}
input[type="submit"]:hover
{
    background: var(--color-white);
    color: var(--color-black);
}
form input{
    background: none;
    padding: 4px 8px;
    color: var(--color-white);
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--color-gray);
}
form input:focus
{
    box-shadow: none;
    outline: none;
    outline: none;
    border-bottom: 1px solid var(--color-gray);
}
form p, a
{
    margin: 1.5rem 0;
    text-decoration: none;
    transition: .3s;
}
form a
{
    color: var(--color-gray);
}
form a:hover
{
    color: var(--color-white);
}
.is-invalid
{
    border-bottom: 1px solid #ff00009d;
}

/*dashboard*/
header
{
    height: 80px;
    display: flex;
    align-items: center;
}
#dashboard
{
    background-color: var(--color-black);
    color: var(--color-white);
}
#menu-lateral
{
    border-right: 1px solid var(--color-gray);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#menu
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}
#menu li
{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0.8rem;
    border-bottom: 1px solid var(--color-gray);
    transition: .3s;
}
#menu li:hover
{
    background-color: var(--color-gray2);
}
#menu li:last-child
{
 border-bottom: 1px solid transparent;
}
#menu a
{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}
#menu li i
{
    font-size: 1.5rem;
}
#perfil
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
#perfil a{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
}
#user
{
    display: flex;
    align-items: center;
    gap: 8px;
}
#user button
{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
}
#user p
{
    margin: 0;
    text-transform: uppercase;
}
#content-dashboard
{
    
    padding: 0.8rem;
    color: var(--color-white);
}